{% extends 'admin/admin.html.twig' %}

{% block title %}Administration recettes{% endblock %}

{% block body %}

    <h1>Administration recettes</h1>

    <a href="{{ path('admin.category.create') }}" class="btn btn-success">Créer une catégorie</a>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }} </td>
                
                    <td>
                        <div class="d-flex gap-2">
                            <a href="{{ path('admin.category.edit', { 'id': category.id }) }}" class="btn btn-warning">Éditer</a>
                            <form action="{{ path('admin.category.delete', { 'id': category.id }) }}" method="post" style="display:inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </div>
                    </td>
                    
                </tr>
            {% else %}
                <tr><td colspan="4">Aucune catégorie trouvée.</td></tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
